@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');


.articulo-footer{
    background: #3f3f3f;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}  


.titulo-redes{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.titulo-redes h2{
    color: white;
}

.redes{
    margin-right: 50px;
}

.articulo-footer h4{
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(206, 206, 206);
}

i{
    color: white;
    font-size: 50px;
    margin-left: 20px;
    transition: 0.3s all;
}

i:hover{
    color: rgb(141, 141, 141);
}

@media screen and (max-width: 620) {
    .titulo-redes{
        margin-left: 20px;
    }

    .redes{
        margin-right: 20px;
    }

    .articulo-footer h4{
        text-align: center;
    }

    .articulo-footer{
        padding: 10px;
    }
}